@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');

/* general */
* {
    margin: 0;
    border: none;
    padding: 0;
}

main {
    height: 100vh;
}

body {
    background: #33691E;
    font-family: 'Roboto Flex', sans-serif;
}

li {
    list-style-type: none;
}

.centered{
    text-align: center;
}

/* messages that only appear at set points */
.centre-message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background-color: white;
    border: 10px solid red;
    border-radius: 2%;
    text-align: center;
    visibility: hidden;
}

.centre-message h1, .centre-message h2{
    margin: 5% 0;
}

.centre-message-button{
    width: 50%;
    height: 3rem;
    font-size: 150%;
    margin: 0 0 5% 0;
}

#play-again-button{
    width: 100%;
}

/* chips div */
.chips-display{
    padding: 0.4% 1%;
    background-color: white;
    border: 10px solid #0F2925;
    margin: 0 0.5%;
    display: inline-block;
}

.chips-display img{
    height: 100%;
    display: inline;
    vertical-align: middle;
    height: 50px;
}

.chips-display h2{
    display: inline;
    vertical-align: middle;
}

/* gamble input */
#gamble-amount button{
    width: 20%;
    margin: 0 0 0 10px;
    vertical-align: top;
    font-size: 75%;    
}

#gamble-amount label{
    margin-right: 5px;
    line-height:normal;
    vertical-align: bottom;
}

#gamble-amount input{
    vertical-align: top;
    height: 22px;
    width: 15%;
    padding: 1% 2%;
    border: 2px solid black;
    text-align: center;
    font-size: 120%;
}

#form{
    font-size: 150%;
    margin: 10% 0;
}

/* cards */
.hand{
    clear: both;
}

.card-div{
    display: inline-block;
    width: 10%;
    padding-top: 14%;
    margin: 1%;
    border: 3px solid white;
    border-radius: 5%;
}

.card-div img{
    width: 100%;
}

.value-display{
    float: right;
    margin-right: 2%;
    padding: 0.2% 1%;
}

#dealer-value-div{
    top: 0;
}

#player-value-div{
    bottom: 0;
    margin-left: 0;
}

/* button stylings */
button {
    padding: 1% 2%;
    background-color: beige;
    border: 2px solid black;
}

button:hover {
    background-color: rgb(206, 206, 180);;
}

/* game buttons */
#game-buttons-div {
    margin: 2% auto;
    width: 35%;
    visibility: hidden;
}

.game-button {
    height: 4rem;
    width: 20%;
    font-size: 120%;
}

#stay {
    float: left;
}

#hit {
    margin: 0 20%;
}

#double-down{
    float: right;
}

/* footer */
footer {
    height: 10rem;
    background-color: #2C372E;
}

footer ul {
    line-height: 7rem;
}

footer li {
    display: inline;
    margin: 0 30px;
}

footer a {
    color: #BDDFB3;
}

footer p {
    color: #BDDFB3;
}

/* media queries */
@media screen and (max-width: 1860px) {
    .card-div{
        margin: 1% 0.95%;
    }
}

@media screen and (max-width: 1560px) {
    .card-div{
        margin: 1% 0.9%;
    }
}

@media screen and (max-width: 1340px) {
    .card-div{
        margin: 1% 0.85%;
    }
}