@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');

/* general */
* {
    margin: 0;
    border: none;
    padding: 0;
}

main {
    height: 100vh;
}

body {
    background: #33691E;
    font-family: 'Roboto Flex', sans-serif;
}

li {
    list-style-type: none;
}

.centered{
    text-align: center;
}

/* messages that only appear at set points */
.centre-message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background-color: white;
    border: 10px solid red;
    border-radius: 2%;
    text-align: center;
    visibility: hidden;
    z-index: 2;
}

.centre-message h1, .centre-message h2{
    margin: 5% 0;
}

.centre-message-button{
    width: 50%;
    height: 3rem;
    font-size: 150%;
    margin: 0 0 5% 0;
}

#play-again-button{
    width: 100%;
}

/* chips div */
.num-display{
    padding: 0.4% 1%;
    background-color: white;
    border: 10px solid #0F2925;
    margin: 0.5% 0.5%;
    display: inline-block;
    height: 50px;
}

.num-display img{
    height: 100%;
    display: inline;
    vertical-align: middle;
}

.num-display h2{
    display: inline;
    vertical-align: middle;
}

/* gamble input */
#gamble-amount button{
    width: 20%;
    margin: 0 0 0 10px;
    vertical-align: top;
    font-size: 75%;    
}

#gamble-amount label{
    margin-right: 5px;
    line-height:normal;
    vertical-align: bottom;
}

#gamble-amount input{
    vertical-align: top;
    height: 22px;
    width: 15%;
    padding: 1% 2%;
    border: 2px solid black;
    text-align: center;
    font-size: 120%;
}

#form{
    font-size: 150%;
    margin: 10% 0;
}

/* cards */
.hand{
    position: absolute;
    width: 100%;
}

#dealer-hand{
    top: 100px;
}

#player-hand{
    bottom: 11%;
}

.card-div{
    display: inline-block;
    width: 10%;
    padding-top: 14%;
    margin: 0.75% 1%;
    border: 3px solid white;
    border-radius: 5%;
}

.card-div img{
    width: 100%;
}

.value-display{
    float: right;
    margin-right: 2%;
    padding: 0.2% 1%;
}

#dealer-value-div{
    top: 0;
}

#player-value-div{
    position: absolute;
    bottom: 1%;
    right: 0;
    margin-left: 0;
}

/* button stylings */
button {
    padding: 1% 2%;
    background-color: beige;
    border: 2px solid black;
}

button:hover {
    background-color: rgb(206, 206, 180);;
}

/* game buttons */
#game-buttons-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 2%;
    width: 35%;
    visibility: hidden;
}

.game-button {
    height: 4rem;
    width: 20%;
    font-size: 120%;
}

#stay {
    float: left;
}

#hit {
    margin: 0 20%;
}

#double-down{
    float: right;
}

/* footer */
footer {
    height: 10rem;
    background-color: #2C372E;
}

footer ul {
    line-height: 7rem;
}

footer li {
    display: inline;
    margin: 0 30px;
}

footer a {
    color: #BDDFB3;
}

footer p {
    color: #BDDFB3;
}

/* media queries */
@media screen and (max-width: 1860px) {
    .card-div{
        margin: 0.75% 0.95%;
    }
}

@media screen and (max-width: 1560px) {
    .card-div{
        margin: 0.75% 0.9%;
    }
}

@media screen and (max-width: 1340px) {
    .card-div{
        margin: 0.75% 0.85%;
    }
}

@media screen and (max-width: 1100px) {
    .card-div{
        margin: 0.75% 0.8%;
    }
}

@media screen and (max-width: 1050px) {
    #game-buttons-div{
        width: 45%;
    }
}

@media screen and (max-width: 1000px) {
    #game-buttons-div{
        width: 45%;
    }

    .card-div{
        margin: 0.75% 0.75%;
    }
}

@media screen and (max-width: 950px) {
    .card-div{
        margin: 0.75% 0.7%;
    }

    .game-button{
        font-size: 100%;
    }

    #player-hand{
        bottom: 12%;
    }

    #gamble-amount input{
        width: 20%;
    }
}

@media screen and (max-width: 800px) {
    .card-div{
        margin: 0.75% 0.65%;
    }

    .centre-message-button{
        width: 70%;
    }

    #gamble-amount input{
        width: 25%;
    }
}

@media screen and (max-width: 730px) {
    .card-div {
        margin: 0.75% 0.6%;
    }
}

@media screen and (max-width: 700px) {
    .game-button{
        width: 30%;
    }

    #hit{
        margin: 0 5%;
    }
}

@media screen and (max-width: 670px) {
    .card-div {
        margin: 0.75% 0.55%;
    }
}

@media screen and (max-width: 630px) {
    .card-div {
        margin: 0.75% 0.5%;
    }

    #gamble-amount input{
        width: 30%;
    }

    .centre-message {
        width: 70%;
    }
}

@media screen and (max-width: 590px) {
    .card-div {
        margin: 0.75% 0.45%;
    }
}

@media screen and (max-width: 550px) {
    .card-div {
        margin: 0.75% 0.4%;
    }

    .centre-message-button{
        width: 90%;
    }
}

@media screen and (max-width: 515px) {
    .card-div {
        margin: 0.75% 0.35%;
    }

    #gamble-amount input{
        font-size: 80%;
    }

    .num-display{
        height: 40px;
    }
}

@media screen and (max-width: 485px) {
    .card-div {
        margin: 0.75% 0.3%;
    }

    #gamble-amount button {
        margin-top: 5px;
        width: 40%;
    }
}

@media screen and (max-width: 465px) {
    .card-div {
        margin: 0.75% 0.2%;
    }

    #gamble-amount button {
        margin-top: 5px;
        width: 40%;
    }

    .game-button{
        width: 33.33%;
    }

    #hit{
        margin: 0;
    }
}

@media screen and (max-width: 415px) {
    .card-div {
        margin: 0.75% 0.15%;
    }
}

@media screen and (max-width: 395px) {
    .card-div {
        margin: 0.75% 0.1%;
    }

    .game-button{
        font-size: 80%;
    }
}

@media screen and (max-width: 380px) {
    .card-div {
        margin: 0.75% 0.05%;
    }

    .num-display{
        height: 30px;
    }
}

@media screen and (max-width: 380px) {
    .card-div {
        margin: 0.75% 0;
    }
}

@media screen and (max-width: 350px) {
    .card-div {
        width: 9.7%;
    }
}

@media screen and (max-width: 335px) {
    .card-div {
        width: 9.6%;
    }

    .value-display{
        margin-right: 0;
    }
}

@media screen and (max-width: 325px) {
    .card-div {
        width: 9.5%;
    }
}

@media screen and (max-width: 310px) {
    .card-div {
        width: 9.4%;
    }
}

@media screen and (max-width: 300px) {
    .card-div {
        width: 9.2%;
    }
}

@media screen and (max-width: 280px) {
    .card-div {
        width: 9%;
    }
}

@media screen and (max-height: 700px) {
    #player-hand{
        bottom: 15%;
    }
}

@media screen and (max-height: 500px) {
    #player-hand{
        bottom: 17%;
    }
}